body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 15vh 110vh 10vh;
}

a {
    color: white;
}



.img1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px black solid;
}

header {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    text-align: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    border: 2px black solid;
    margin-top: 10px;
    align-items: center;
}

main {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 10px;
    height: fit-content;
    justify-content: center;
}

main img {
    width: 30%;
    margin: 5px;
}

footer {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
    justify-content: center;
}

.dragon_img {
    grid-row: 2/4;
    grid-column: 1/2;
    border: 2px solid black;
    width: 98%;
    height: 950px;
}